<html>
<head>
    <title>Curso Vue.js</title>
</head>
<body>

    <div id="app">
        <input type="text" name="nombre" placeholder="Ingresa tu nombre" v-model="nombre">
        <p>Tu nombre en mayusculas es: {{ nombre | uppercase }}</p>
        <form @submit.prevent="submit" action="" method="get">
            <template v-for="curso in cursos">
                <input v-model="cursosSeleccionados" type="checkbox" v-bind:id="curso.value" v-bind:value="curso.value">
                <label v-bind:for="curso.value">{{curso.nombre}}</label>
            </template>
            <br>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                nombre: '',
                cursos: [
                    {nombre: 'Curso de Vue.js', value: 'vue'},
                    {nombre: 'Curso de SEO', value: 'seo'},
                    {nombre: 'Curso de Rect', value: 'react'},
                    {nombre: 'Curso de Growt', value: 'growt'},
                ],
                cursosSeleccionados: []
            },
            filters: {
                uppercase: function(str){
                    return str.toUpperCase()
                }
            },
            methods: {
                submit: function(){
                    console.log('Se ejecuto el metodo submit');
                    console.log(this.cursosSeleccionados)
                }
            }
        })
    </script>

</body>
</html>