<template lang="pug">
  #app
    img(src='./assets/logo.png')
    h1 Platzi Music
    select(v-model="selectedCountry")
      option(v-for="country in countries" :value="country.value") {{country.name}}
    ul
      artist(v-for="artist in artists" v-bind:artist="artist" v-bind:key="artist.name")
</template>

<script>
import Artist from './components/Artist.vue'
import getArtists from './api'

export default {
  name: 'app',
  data () {
    return {
      artists: [],
      countries: [
        {name: 'España', value: 'spain'},
        {name: 'Japon', value: 'japan'},
        {name: 'Mexico', value: 'mexico'}
      ],
      selectedCountry: 'spain'
    }
  },
  components :{
    Artist: Artist
  },
  methods: {
    refreshArtists(){
      const self = this
      getArtists(this.selectedCountry).then(function(artists){
        self.artists = artists
      })
    }
  },
  mounted(){
    this.refreshArtists()
  },
  watch: {
    selectedCountry(){
      this.refreshArtists()
    }
  }
}
</script>

<style lang="stylus">
#app 
	font-family 'Avenir', Helvetica, Arial, sans-serif
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	text-align center
	color #2c3e50
	margin-top 60px
h1
	font-weight normal
ul 
	list-style-type none
	padding 0
li 
	display inline-block
	margin 0 10px
a 
	color #42b983
</style>
