<html>
<head>
    <title>Curso Vue.js</title>
</head>
<body>

    <div id="app">
        <form @submit.prevent="submit" action="" method="get">
            <input type="text" name="nombre" placeholder="Ingresa tu nombre" v-model="nombre">
            <p>Tu nombre en mayusculas es: {{ nombre | uppercase }}</p>
            <template v-for="curso in cursos">
                <curso :curso="curso" @checked="selectCurso"></curso>
            </template>
            <br>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        Vue.component('curso', {
            props: ['curso'],
            methods:{
                onchange: function(ev){
                    this.$emit('checked', this.curso.value, ev.target.checked)
                }
            },
            template:`
                <div>
                    <input type="checkbox" v-bind:id="curso.value" v-bind:value="curso.value" @change="onchange">
                    <label v-bind:for="curso.value">{{curso.nombre}}</label>
                </div>
            `
        })
        let app = new Vue({
            el: '#app',
            data: {
                nombre: '',
                cursos: [
                    {nombre: 'Curso de Vue.js', value: 'vue'},
                    {nombre: 'Curso de SEO', value: 'seo'},
                    {nombre: 'Curso de Rect', value: 'react'},
                    {nombre: 'Curso de Growt', value: 'growt'},
                ],
                cursosSeleccionados: []
            },
            filters: {
                uppercase: function(str){
                    return str.toUpperCase()
                }
            },
            methods: {
                submit: function(){
                    console.log('Se ejecuto el metodo submit');
                    console.log(this.cursosSeleccionados)
                },
                selectCurso: function(curso, checked){
                    if(checked){
                        this.cursosSeleccionados.push(curso)
                    }else{
                        let index = this.cursosSeleccionados.indexOf(curso)
                        this.cursosSeleccionados.splice(index, 1)
                    }
                    
                }
            }
        })
    </script>

</body>
</html>