<html>
<head>
    <title>Curso Vue.js</title>
</head>
<body>

    <div id="app">
        <h1>{{ titulo | uppercae }}</h1>
        <h2>{{ subtitulo | lowercase }}</h2>
        <h3>{{ nombre | capitalize }}</h3>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                titulo: 'estas en platzi',
                subtitulo: 'curso de vue.js',
                nombre: 'alejandro'
            },
            filters: {
                uppercae: function(str){
                    return str.toUpperCase()
                },
                lowercase: function(str){
                    return str.toLowerCase()
                },
                capitalize: function(str){
                    return str.charAt(0).toUpperCase() + str.slice(1)
                }
            }
        })
    </script>

</body>
</html>