<html>
<head>
    <title>Curso Vue.js</title>
</head>
<body>

    <div id="app">
        <input type="text" name="nombre" placeholder="Ingresa tu nombre" v-model="nombre">
        <p>Tu nombre en mayusculas es: {{ nombre | uppercase }}</p>
        <form @submit.prevent="submit" action="" method="get">
            <input v-model="curso" type="checkbox" id="vue" value="vue">
            <label for="vue">Curso de Vue.js</label>
            <input v-model="curso" type="checkbox" id="seo" value="seo">
            <label for="seo">Curso de SEO</label>
            <input v-model="curso" type="checkbox" id="react" value="react">
            <label for="react">Curso de React y Redux</label>
            <input v-model="curso" type="checkbox" id="growt" value="growt">
            <label for="vue">Curso de Groet Marketing</label>
            <br>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                nombre: '',
                curso: []
            },
            filters: {
                uppercase: function(str){
                    return str.toUpperCase()
                }
            },
            methods: {
                submit: function(){
                    console.log('Se ejecuto el metodo submit');
                    console.log(this.curso)
                }
            }
        })
    </script>

</body>
</html>