<html>
<head>
    <title>Curso Vue.js</title>
</head>
<body>

    <div id="app">
        hola {{nombre}}
        <a :href="url" target="_blanck">
            Ir a {{ pagina }}
        </a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                nombre: 'Alejandro!!!',
                url: 'https://google.com',
                pagina: 'Google'
            }
        })
    </script>

</body>
</html>