<html>
<head>
    <title>Curso Vue.js</title>
</head>
<body>

    <div id="app">
        <template v-if="mostrar">
            <h1>Título</h1>
            <h2>Subtítulo</h2>
            <a :href="url" target="_blanck">{{ pagina }}</a>
        </template>
        
        <div v-show="!mostrar">
            <h1>Título v-show</h1>
            <h2>Subtítulo</h2>
            <a :href="url" target="_blanck">{{ pagina }}</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                url: 'https://google.com',
                pagina: 'Google',
                mostrar: true
            }
        })
    </script>

</body>
</html>